<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">  
    <title>Trade result</title>
</head>
<body>
<div class="uk-container">
    <div>
      <font size="7">UL Trade Result</font><br>
      <font size="5"><a href="{{url_for('div_ditale')}}">Div prediction</a> / <a href="{{url_for('note_page')}}">Note</a> / <a href="{{url_for('stock')}}">Stock</a></font>
    </div>
    <form action='/result'>
      <div class="uk-margin">
	<div class="uk-child-width-1-2" uk-grid>
	  <div class="uk-width-auto">
	    <button class="uk-button uk-button-default" type="submit" formmethod="POST">Run SQL</button>
	  </div>
	  <div class="uk-width-expand">
	    <select id="SQform" onchange="inputChange()" class="uk-select">
                <option value="update">Update</option>
                <option value="insert">Instert</option>
            </select>
	  </div>
	</div>	
      </div>
      
            <input name="name" id="SQinput" type="text" class="uk-input">
    </form>
    <div><h6>Colmun 1.date 2.name 3.trade 4.price 5.commission 6.cost 7.ttm 8.jpy 9.num</h4></div>
<div><span id="goukei"></span></div>
<div><span id="cost"></span></div>
<div><span id="testarea">test</span></div>
    <div id="users">
        <input class="search" placeholder="Search" />
        <table id="tablesql"  class="uk-table uk-table-striped">
            <thead>
              <tr>
                    <th>day</th>
                    <th>Code</th>
                    <th>Term</th>
                    <th>price</th>
                    <th>cost</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for item in data %}
                <tr>
                    <th class="dat">{{item[0]}}</th>
                    <th class="nm"><a href="{{url_for('corp', cname=item[1])}}">{{item[1]}}</a>
		    
                    </th>
                    <th class="sell">{{item[2]}}</th>
                    <th>{{item[3]}}</th>
                    <th>{{item[5]}}</th>
                </tr>
                {% endfor %}
		<span></span>
		
            </tbody>
        </table>
    </div>
</div>
</body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/css/uikit.min.css') }}">
<script src="{{ url_for('static', filename='javascript/uikit/uikit.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/driver.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/list.js') }}"></script>
<script>
    var options = {
        valueNames: [ 'nm', 'dat', 'sell' ]
    };
  var userList = new List('users', options);

/*
  document.getElementById('testarea').textContent='write';
*/
  
  var tableElem=document.getElementById('tablesql'); 
  var rowElem=tableElem.rows;
  const len=rowElem.length;
  var ww=[];
  var price;
  price=0;
  /* 
  document.getElementById('testarea').textContent=len;
  */
  
  for (i=1; i < len; i++){
      ww.push(Number(rowElem[i].cells[4].innerText));
  }
  
  document.getElementById('testarea').textContent=len + 'record';
  

  userList.on('searchComplete',function(a){      
      price=0;
  for(i=0;i<len-1;i++){
          if(userList.items[i].visible()){
              price=price+ww[i];
          }else{

          }
  }
      document.getElementById('testarea').textContent=Math.round(price*100)/100;    

  });
  
  
</script>
</html>
