<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">  
    <title>Trade result JP</title>
</head>
<body>
<div class="uk-container">
    <div>
      <font size="7">JP Trade Result</font><br>
      <font size="5"><a href="{{url_for('div_ditale')}}">Div prediction</a> / <a href="{{url_for('note_page')}}">Note</a> / <a href="{{url_for('stock')}}">Stock</a> / <a href="{{url_for('sq_lite')}}">sqlite</a></font>
    </div>
    <form action="{{url_for('indexget')}}">
      <div uk-margin>
	<div class="" uk-grid>
	  <div>
	    <button class="uk-button uk-button-default" type="submit" formmethod="POST">Run SQL</button>
	  </div>  
	  <div>  
	    <select id="SQform" onchange="inputChange()" class="uk-select">
                <option value="update">Update</option>
                <option value="insert">Instert</option>
            </select>
	  </div>
	  <div>
	    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-usage">Option</button>
	    <div id="offcanvas-usage" uk-offcanvas>
	      <div class="uk-offcanvas-bar">
		<button class="uk-offcanvas-close" type="button" uk-close></button>
		<h3>Run Sql assist</h3>
		<p>Lorem ipsum dolor sit amet, consectetu
		  adipiscing elit, sed do eiusmod</p>
		<select id="tterm" class="uk-select" onchange="inputChange()">
		  <option value="div">div</option>
		  <option value="buy">buy</option>
		  <option value="sell">sell</option>
		  <option value="fee">fee</option>
		</select>
		<select id="corp" class="uk-select" onchange="inputChange()">
		  {% for item in corp%}
		  <option>{{item[1]}}</option>
		  {% endfor %}
		</select>
		<p></p>
		<div>取引単価</div>
		<input name="tprice" id="tprice" type="text" class="uk-input" value="100">
		<p></p>
		<div>取引株式数</div>
		<input name="tnum" id="tnum" type="text" class="uk-input" value="100">
		<p></p>
                <div>取引価格</div>
                <input name="tcost" id="tcost" type="text" class="uk-input" value="100">
		<p></p>
		<div>bank</div>
		<select id="bank"  class="uk-select">
		  <option value="matsui">松井証券</option>
		  <option  value="rakuten">楽天証券</option>
		</select>
	      </div>
	    </div>
	</div>
      </div>
	
     
      
            <input name="name" id="SQinput" type="text" class="uk-input">
    </form>
   
    <div><h6>Colmun 1.date 2.code 3.term 4.price 5.num 6.cost 7.bank</h6></div>
<div><span id="goukei"></span></div>
<div><span id="cost"></span></div>
<div><span id="testarea">test</span></div>
    <div id="users">
        <input class="search" placeholder="Search" />
        <table id="tablesql"  class="uk-table uk-table-striped">
            <thead>
              <tr>
                    <th>day</th>
                    <th>Code</th>
                    <th>Term</th>
                    <th>price</th>
                    <th>cost</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for item in data %}
                <tr>
                    <th class="dat">{{item[0]}}</th>
                    <th class="nm"><a href="#t{{item[6]}}" uk-toggle >{{item[1]}}</a>
		    
                    </th>
                    <th class="sell">{{item[2]}}</th>
                    <th>{{item[3]}}</th>
                    <th class="uk-text-right">{{item[4]}}</th>
                </tr>
                {% endfor %}
		<span></span>
		
            </tbody>
        </table>
    </div>
    {% for item in corp%}
    <div id="t{{item[0]}}" uk-offcanvas>
      <div class="uk-offcanvas-bar">
        {{item[1]}}
	<br>
	{{item[0]}}.T
	<br>
	前日株価:{{item[4]}}円
        <button class="uk-offcanvas-close" type="button" uk-close></button>
      </div>
    </div>
    {% endfor  %}
</div>
</body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/css/uikit.min.css') }}">
<script src="{{ url_for('static', filename='javascript/uikit/uikit.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/list.js') }}"></script>
<script>
    var options = {
        valueNames: [ 'nm', 'dat', 'sell' ]
    };
  var userList = new List('users', options);

/*
  document.getElementById('testarea').textContent='write';
*/
  
  var tableElem=document.getElementById('tablesql'); 
  var rowElem=tableElem.rows;
  const len=rowElem.length;
  var ww=[];
  var price;
  price=0;
  /* 
  document.getElementById('testarea').textContent=len;
  */
  
  for (i=1; i < len; i++){
      ww.push(Number(rowElem[i].cells[4].innerText));
  }
  
  document.getElementById('testarea').textContent=len + 'record';
  

  userList.on('searchComplete',function(a){      
      price=0;
  for(i=0;i<len-1;i++){
          if(userList.items[i].visible()){
              price=price+ww[i];
          }else{

          }
  }
      document.getElementById('testarea').textContent=Math.round(price*100)/100;    

  });
  
  function inputChange(){
      if (textform[0].selected){
          document.getElementById( "SQinput" ).value ="update trade set date=24000001 where rowid=1";
          goukei.innerHTML=tday;
      } else if (textform[1].selected){
	  for(let ttt of list_data){
	      if(ttt[1]==corp.value){
		  corp_code=ttt[0];
		  
	      }
	  }
	 
          document.getElementById( "SQinput" ).value ="insert into tradejp_1 values("+tday+"1,"+corp_code+",'"+testt.value+"',"+tprice.value+","+tnum.value+","+tcost.value+",'"+bank.value+"')"  ;

		    for(let tt of list_data){
			if(tt[1]==corp.value){
			    goukei.textContent=tt[0];
			}
		
			
		    }
      }
  }

  let textform=document.getElementById("SQform");
  let textforms=textform.options;
  let goukei=document.getElementById("goukei");
  let testt=document.getElementById("tterm");
  let corp=document.getElementById("corp");
  const today=new Date();
  let ttest=today.getFullYear()*10000+today.getMonth()*100+today.getDate()+100;
  let tday=(""+ttest).slice(-6);
  let nyear=(""+today).slice(-2);
  let list_data={{corp|tojson}}
  let corp_code;
    let tprice=document.getElementById("tprice");
    let tnum=document.getElementById("tnum");
  let tcost=document.getElementById("tcost");
  let bank=document.getElementById("bank");

  textform.onchange=inputChange;
  
</script>
</html>
